.popup-message {
    position: fixed;
    left: 50%;
    bottom: 50px;
    transform: translate(-50%, 0%);
    background-color: #93DA49;
    z-index: 999;
    transition: opacity 0.5s;
    padding: 32px 16px;
    border-radius: 16px;
    animation: animatebottom 0.2s;
}
@keyframes animatebottom {
    from {bottom: -300px; opacity: 0}
    to {bottom: 50px; opacity: 1}
}
.popup-message > p {
    color: #fff;
    font-size: 18px;
    font-weight: 600;
}
.deactive {
    opacity: 0;
}
