.services {
    padding-top: 30px;
    padding-bottom: 70px;
}
.services-title {
    color: #1E1E1E;
    font-size: 46px;
    font-weight: 700;
    line-height: 56px;
}
.services-list-wrap {
    margin-top: 32px;
}
.services-list {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 24px;
}
.service-card {
    position: relative;
    padding: 36px;
    box-shadow: -10px 10px 64px 0px rgba(3, 7, 49, 0.12);
    border-radius: 0px 36px 36px 36px;
    min-height: 350px;
}
.service-card-info {
    max-width: 328px;
    position: relative;
    z-index: 1;
}
.service-card-title {
    color: #1E1E1E;
    padding-bottom: 16px;
    font-size: 28px;
    font-weight: 600;
    position: relative;
}
.service-card-title::before {
    position: absolute;
    content: "";
    height: 3px;
    width: 120px;
    border-radius: 20px;
    background-color: #93DA49;
    bottom: 0;
    left: 0;
}
.service-card-description {
    margin-top: 24px;
    font-size: 16px;
    color: #5E5E5E;
    font-weight: 400;
    font-size: 18px;
    line-height: 26px;
}
.service-card-img {
    display: flex;
    position: absolute;
    right: 0;
    bottom: 0;
    align-items: center;
    justify-content: center;
    background-color: #F9E547;
    border-radius: 36px 0px;
    min-height: 231px;
}
.service-card-img img {
    display: block;
    height: auto;
    width: 219px;
}
@media screen and (max-width: 968px) {
    .services-list {
        grid-template-columns: 1fr;
    }
}
@media screen and (max-width: 768px) {
    .service-card-img {
        position: static;
        border-radius: 0 36px 36px 36px;
    }
    .service-card {
        padding: 0;
    }
    .service-card-info {
        margin: 16px;
        padding-top: 16px;
    }
    .service-card-title {
        font-size: 22px;
    }
    .service-card-description {
        font-size: 16px;
    }
}