.feedback-modal {
    display: none;
    position: fixed;
    z-index: 999;
    padding: 0 10px;
    padding-top: 100px;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.4);
}
.feedback-modal-content {
    position: relative;
    margin: 0 auto;
    padding: 0 20px;
    max-width: 500px;
    position: relative;
    background-color: #fefefe;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
    border-radius: 24px 0px;
    animation: animatetop 0.4s;
}
@keyframes animatetop {
    from {top: -300px; opacity: 0}
    to {top: 0; opacity: 1}
}
.feedback-modal-badge {
    position: absolute;
    padding: 24px;
    left: -48px;
    top: -48px;
    font-size: 20px;
    font-weight: 600;
    background-color: #A5E1FD;
    color: #fff;
    border-radius: 36px 0px;
    box-shadow: -10px 10px 64px 0px rgba(3, 7, 49, 0.12);
    
}
.feedback-modal-header h2 {
    position: relative;
    font-size: 30px;
    font-weight: 600;
    text-align: center;
}
.feedback-modal-header h2 span {
    position: relative;
    z-index: 1;
}
.feedback-modal-header h2 span::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 16px;
    background-color: #A5E1FD;
    bottom: 7px;
    left: 0;
    z-index: -1;
}
.feedback-modal-header p {
    margin-top: 16px;
    font-size: 18px;
    text-align: center;
    color: #5E5E5E;
    font-weight: 400;
    line-height: 26px;
}
.feedback-close-button-wrap {
    padding: 0 10px;
    display: flex;
    flex-direction: row-reverse;
}
.feedback-close-button {
    font-size: 32px;
    font-weight: 400;
    cursor: pointer;
    transition: opacity 0.15s ease-in;
}
.feedback-modal-form {
    margin-top: 16px;
    display: grid;
    gap: 16px;
    grid-template-columns: 1fr;
}
.feedback-modal-form li {
    display: block;
}
.feedback-modal-form li>input {
    width: 100%;
    padding: 19px 24px;
    border: none;
    outline: none;
    border-radius: 36px;
    background-color: #F6F6F6;
    font-size: 18px;
    font-weight: 400;
    line-height: 26px;
    color: #1E1E1E;
}
.feedback-modal-form-button {
    width: 100%;
    max-width: 100%;
}
@media screen and (max-width: 768px) {
    .feedback-modal-badge {
        left: -12px;
    }
    .feedback-modal-header h2 span:before {
        left: -173px;
        width: 193px;
    }
}   