body {
    font-family: "Montserrat", sans-serif;
}
ul, h1, h2, h3, h4, h5, p, ul, ol, li, a {
    padding: 0;
    margin: 0;
    text-decoration: none;
    list-style: none;
    font-family: "Montserrat", sans-serif;
}
button {
    font-family: "Montserrat", sans-serif;
    cursor: pointer;
}
.header-wrap {
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    justify-content: space-between;
}
.header-time {
    text-align: right;
    color: #5e5e5e;
    font-size: 14px;
    font-weight: 400;
    line-height: 20px;
}
.header-telephone-wrap {
    display: flex;
    flex-direction: row-reverse;
}
.header-telephone {
    position: relative;
    padding-left: 28px;
    color: #1e1e1e;
    font-size: 18px;
    font-weight: 600;
    line-height: 26px;
}
.header-telephone::before {
    position: absolute;
    content: "";
    width: 20px;
    height: 20px;
    left: 0;
    top: calc(50% - 10px);
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
}
.header-button {
    margin-top: 8px;
    margin-bottom: 8px;
    float: right;
    padding: 12px 32px;
    box-shadow: inset 0px 0px 0px 1px #E6E6E6;
    font-weight: 600;
    white-space: nowrap;
    font-size: 14px;
    border: none;
    border-radius: 36px;
    background-color: transparent;
}
.header-button:hover {
    color: #307FE2;
}
.wrap {
    width: 100%;
    max-width: 1376px;
    margin: 0 auto;
    padding-left: 16px;
    padding-right: 16px;
}

@media screen and (max-width: 768px) {
    .header-wrap {
        display: grid;
        grid-template-columns: 1fr;
    }
    .header-logo {
        grid-row: 1;
    }
    .header-logo img {
        width: 220px;
    }
    .header-contact {
        grid-row: 2;
    }
    .header-button {
        display: none;
    }
    .header-telephone {
        font-size: 24px;
        margin-bottom: 24px;
    }
}
footer {
    margin-top: 120px;
    padding: 32px;
    background-color: #93DA49;
}
.footer-contacts {
    text-align: center;
    font-size: 24px;
    font-weight: 600;
    color: #fff;
}
