.preview {
    padding-top: 82px;
    background-color: #307FE2;
}
.preview-wrap {
    position: relative;
}
.preview-content {
    position: relative;
    width: 100%;
    max-width: 700px;
    z-index: 1;
}
.preview-header {
    display: block;
    color: #fff;
    font-size: 46px;
    font-weight: 700;
    line-height: 56px;
    max-width: 574px;
}
.preview-header span {
    color: #93DA49;
}
.preview-description {
    color: #fff;
    font-size: 18px;
    font-weight: 400;
    line-height: 26px;
    margin-top: 32px;
    max-width: 589px;
}
.preview-list {
    display: flex;
    gap: 87px;
    max-width: 691px;
    margin-top: 32px;
}
.preview-list li {
    display: block;
    position: relative;
    padding-left: 27px;
    color: #fff;
    font-size: 20px;
    font-weight: 600;
    line-height: 26px;
}
.preview-list li::before {
    position: absolute;
    content: " ";
    width: 3px;
    height: 100%;
    border-radius: 10px;
    background-color: #93DA49;
    left: 0;
    top: 0;
}
.preview-controls {
    display: flex;
    align-items: center;
    gap: 32px;
    margin-top: 32px;
}
.preview-green-btn {
    display: block;
    text-align: center;
    width: 100%;
    max-width: 396px;
    padding: 20px 36px;
    color: #fff;
    font-size: 16px;
    font-weight: 700;
    border-radius: 36px;
    background-color: #93DA49;
    border: none;
    transition: 0.3s all;
}
.preview-green-btn:hover {
    background-color: transparent;
    box-shadow: inset 0 0 0 2px #93DA49;
    color: #93DA49;
}
.preview-box {
    border-radius: 0 36px;
    background-color: #fff;
    box-shadow: -10px 10px 64px 0px rgba(3, 7, 49, 0.12);
    overflow: hidden;
    transform: translateY(69px);
}
.preview-box-question {
    padding: 29px 36px;
    background-color: #A5E1FD;
}
.preview-box-question span {
    display: block;
    padding-left: 52px;
    position: relative;
    color: #fff;
    font-size: 20px;
    font-weight: 600;
    line-height: 26px;
}
.preview-box-question span::before {
    position: absolute;
    content: "";
    width: 36px;
    height: 36px;
    left: 0;
    top: calc(50% - 18px);
}
.preview-box-answer {
    padding: 36px;
    padding-top: 20px;
}
.preview-box-answer span {
    display: block;
    position: relative;
    font-weight: 500;
    padding-left: 19px;
}
.preview-box-answer span::before {
    position: absolute;
    content: "";
    background-color: #A5E1FD;
    width: 3px;
    height: 100%;
    border-radius: 10px;
    left: 0;
    top: 0;
}
.preview-box-answer p {
    color: #5E5E5E;
    font-size: 16px;
    font-weight: 500;
    line-height: 24px;
    margin-top: 24px;
}
.preview-box-answer p strong {
    color: #1E1E1E;
}
.preview-img {
    position: absolute;
    width: 530px;
    height: 734px;
    right: 53px;
    top: -42px;
}
@media screen and (max-width: 968px) {
    .preview-img {
        display: none;
    }
}
@media screen and (max-width: 768px) {
    .preview-header {
        font-size: 32px;
        line-height: 38px;
    }
    .preview-description {
        margin-top: 24px;
        font-size: 16px;
        line-height: 24px;
    }
    .preview-list {
        display: grid;
        grid-template-columns: 1fr;
        gap: 12px;
        margin-top: 24px
    }
    .preview-list li {
        padding-left: 15px;
        font-size: 18px;
        line-height: 26px;
    }
    .preview-box-question {
        padding: 16px 17px;
    }
    .preview-box-question span {
        padding-left: 42px;
        font-size: 18px;
    }
    .preview-box-answer {
        padding: 16px;
        padding-top: 18px;
    }
    .preview-box-answer span {
        font-size: 14px;
        line-height: 22px;
        padding-left: 15px;
    }
    .preview-box-answer p {
        font-size: 14px;
        line-height: 22px;
    }
}