.cases-won {
    background-color: #F6F6F6;
}
.cases-won-header {
    position: relative;
    font-size: 46px;
    font-weight: 700;
    z-index: 1;
}
.cases-won-header::before {
    position: absolute;
    content: "";
    background-color: #A5E1FD;
    height: 25px;
    width: 100%;
    max-width: 332px;
    bottom: 0px;
    left: -5px;
    z-index: -1;
}
.cases-won-slider {
    position: relative;
    margin: 0 auto;
    width: calc(100% - 32px);
    height: 600px;
}
.slider-button {
    position: absolute;
    top: 50%;
    transform: translate(0, -50%);
    border: none;
    background-color: #fff;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    box-shadow: -10px 10px 40px 10px rgba(0, 7, 3, 0.07);
    z-index: 1;
    cursor: pointer;
    transition: opacity 0.15s ease;
}
.slider-button::before {
    position: absolute;
    content: "";
    display: block;
    width: 20px;
    height: 20px;
    border: 3px #aaa;
    border-style: solid solid none none;
    border-radius: 2px;
}
.slider-button:hover {
    opacity: 0.6;
}
.slider-button-prev {
    left: -32px;
}
.slider-button-prev::before {
    transform: translate(40%, -50%) rotate(-0.375turn);
}
.slider-button-next {
    right: -32px;
}
.slider-button-next::before {
    transform: translate(20%, -50%) rotate(0.125turn);
}
.cases-won-card {
    position: absolute;
    width: 600px;
    margin-top: 32px;
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
    padding: 32px;
    background-color: #FFF;
    display: none;
    grid-template-columns: 184px 1fr;
    gap: 24px;
    border-radius: 0 36px 36px 36px;
    box-shadow: -10px 10px 64px 0px rgba(3, 7, 49, 0.12);
}
.active {
    display: grid;
}
.cases-won-card-img img {
    width: 100%;
    border-radius: 24px;
    border: 1px solid #E6E6E6;
}
.cases-won-card-title {
    padding-top: 14px;
    font-size: 20px;
    font-weight: 600;
}
.cases-won-card-list {
    margin-top: 24px;
    display: grid;
    grid-template-columns: 1fr;
    gap: 6px;
}
.cases-won-card-list li {
    display: flex;
    flex-direction: row;
    gap: 12px;
}
@media screen and (max-width: 768px) {
    .cases-won-card {
        grid-template-columns: 1fr; 
    }
    .slider-button {
        bottom: 0%;
        top: auto;
        width: 70px;
        height: 70px;
    }
    .slider-button::before {
        width: 35px;
        height: 35px;
    }
    .slider-button-next {
        right: 32px;
    }
    .slider-button-prev {
        left: 32px;
    }
    .cases-won {
        padding-bottom: 50px;
    }
}